.footer{
    text-align: center;
    padding: 285px 0 34px;
    .btn{
        span{
            padding: 17px 18px 15px;
            &:after{
                display: none;
            }
        }
    }
    &__copy{
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        opacity: 0.5;
        letter-spacing: 1.05px;
        margin-top: 27px;
    }
}