.header {
	position: relative;
	height: 100vh;
	&__title{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		font-weight: 800;
		font-size: 200px;
		line-height: 156px;
		opacity: 0.07;
		max-width: 467px;
	}
	&__map{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	&__aside{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		height: 100vh;
		border-right: 1px solid rgba(#fff, .25);
		text-align: center;
	}
	&__arrows{
		position: absolute;
		left: 210px;
		bottom: 40px;
		z-index: 3;
	}
	.logo{
		margin-bottom: 90px;
	}
	.menu{
		&__list{
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 3px;
			text-transform: capitalize;
			li+li{
				margin-top: 22px;
			}
			span{
				display: block;
				padding-top: 6px;
			}
		}
	}
	.menu-btn{
		display: none;
		width: 55px;
		height: 55px;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 1px solid #fff;
		position: absolute;
		z-index: 25;
		right: 20px;
		top: 75px;
		background-color: rgba(255,255,255,.1);
		&__inner{
			width: 30px;
		}
		&__line{
			height: 3px;
			background-color: $green;
			+ .menu-btn__line{
				margin-top: 5px;
			}
		}
	}
	.header__search{
		margin-top: 38px;
	}
	.header__date{
		margin-top: 20px;
		font-weight: 800;
		font-size: 72px;
		line-height: 64px;
		span{
			display: block;
			padding-top: 6px;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 1.4px;
		}
	}
	.header__location{
		position: relative;
		margin-top: 23px;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 1.05px;
		text-transform: capitalize;
		span{
			position: relative;
			padding-left: 19px;
			&:before{
				content: '';
				background-image: url('../icons/marker.svg');
				position: absolute;
				top: 0;
				left: 0;
				width: 11px;
				height: 13px;
			}
		}
	}
	.line-animation{
		stroke-dashoffset: 600;
		stroke-dasharray: 600;
		animation: animdash 5s infinite 6s;
	}

	@keyframes animdash {
		to{
			stroke-dashoffset: 0;
		}
	}

	.header__slider {
		&-item {
			position: relative;
			height: 100vh;
			background: url('../img/header-bg.jpg') center (center/cover) no-repeat;
		}
	}
	.slider-item__info {
		position: absolute;
		right: 80px;
		bottom: 116px;
		text-align: right;

		&-subtitle {
			margin-bottom: 5px;
		}

		&-title {
			font-weight: 800;
			font-size: 80px;
			line-height: 86px;
			margin-bottom: 48px;
		}

		&-subtext {
			margin-bottom: 8px;
		}

		&-text {
			font-weight: 800;
			font-size: 40px;
			line-height: 46px;
			margin-bottom: 25px;
		}
	}
	.slider-dots{
		position: absolute;
		right: 50px;
		bottom: 40px;
		max-width: 920px;
		width: 100%;
		.slick-current{
			.dots-box{
				border-top: 4px solid $green;		
			}
		}
	}
	.dots-box{
		width: 200px;
		display: flex;
		justify-content: space-between;
		height: 45px;
		align-items: center;
		border-top: 4px solid #fff;
		text-transform: capitalize;
		&__number{
			font-weight: 800;
			font-size: 24px;
		}
		&__name{
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
		}
	}
}