.sleep {
    background-image: url('../img/flower.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 1850px;

    .slider-arrows {
        opacity: 0.25;
        top: 240px;
    }
    .holder-slider__descr{
        background-size: contain;
    }
    .holder-slider__descr .descr__head {
        padding-right: 175px;
        .holder__star-list {
            position: absolute;
            right: 0;
            top: 0;
            img {
                position: static;
            }
        }
    }
    .holder-slider .holder-slider__info-title{
        width: auto;
    }
}