.holder{
    background-image: url('../img/glass-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 1850px;
    .slider-arrows{
        opacity: 0.25;
        top: 240px;
    }
    .holder-slider{
        &__head{
            background-position: left top;
            background-size: 80% 100%;
            background-repeat: no-repeat;
            min-height: 1000px;

        }
        &__descr{
            margin-top: -240px;
            padding: 100px 0 0 132px;
            min-height: 320px;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            .descr{
                &__head{
                    position: relative;
                    padding-right: 78px;
                    img{
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
        &__subtitle{
            text-align: right;
            padding: 132px 80px 0 0;
        }
        &__btn{
            text-align: center;
        }
        .holder-slider__info{
            display: flex;
            justify-content: space-around;
            &-item{
                min-height: 195px;
                margin-bottom: 66px;
                position: relative;
            }
            &-subtitle{
                position: absolute;
                font-size: 18px;
                line-height: 22px;
                text-align: right;
                letter-spacing: 8px;
                opacity: .5;
                transform: rotate(-90deg);
                white-space: nowrap;
                top: 94px;
                left: -100px;
                width: 200px;
                height: 0;
            }
            &-title{
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding-left: 40px;
                width: 255px;
                position: relative;
                padding-bottom: 14px;
                .holder-pricing__span{
                    position: absolute;
                    font-size: 14px;
                    line-height: 0;
                    letter-spacing: 5.25px;
                    opacity: 0.75;
                    font-weight: 400;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}